<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cssstyle/profile.css' %}">
    <title>Document</title>
</head>
<body>
    <button type="button" onclick ="window.location.href= '{% url 'main:home' %}'">Back</button>
    <h1>Your Profile</h1>
    <p><strong>First Name:</strong> {{first_name}}</p>
    <p><strong>Last Name:</strong> {{last_name}}</p>
    <p><strong>User Id:</strong> {{userid}}</p>
    <p><strong>User Name:</strong> {{username}}</p>
    <p><strong>Password:</strong> {{password}}</p>
    <p><strong>Email Add:</strong> {{gmail}}</p>
    <h1>Your Appointment</h1>
    {% for i in appointData %}
    <p><strong>Patients name: </strong>{{i.P_name}}</p>
    <p><strong>Patients Age: </strong>{{i.P_age}}</p>
    <p><strong>State: </strong>{{i.state}}</p>
    <p><strong>City: </strong>{{i.dist}}</p>
    <p><strong>Appointment Date: </strong>{{i.appoint_date}}</p>
    <p><strong>Appointment Time: </strong>{{i.appoint_time}}</p>
    <br><br>
    {% endfor %}
</body>
</html>