<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'images/mainlogo.png' %}">
    <link
    href="https://fonts.googleapis.com/css2?family=Delius&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Spectral:ital@1&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <!-- <script src="https://kit.fontawesome.com/4fe02a54d3.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="{% static 'cssstyle/profile.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="nav-bar">
    <button type="button" onclick ="window.location.href= '{% url 'main:home' %}'"><i class="fa-solid fa-arrow-left"></i></button>
    </div>
    <div class="body">
    <br>
    <h1>Your Profile</h1>
    <div class="container">
    <table>
        <tr>
            <td><strong>First Name:</strong></td>
            <td>{{first_name}}</td>
        </tr>
        <tr>
            <td><strong>Last Name:</strong></td>
            <td>{{last_name}}</td>
        </tr>
        <tr>
            <td><strong>User Id:</strong></td>
            <td>{{userid}}</td>
        </tr>
        <tr>
            <td><strong>User Name:</strong></td>
            <td>{{username}}</td>
        </tr>
        <tr>
            <td><strong>Password:</strong></td>
            <td>{{password}}</td>
        </tr>
        <tr>
            <td><strong>Email Add:</strong></td>
            <td>{{gmail}}</td>
        </tr>
    </table>
</div>
<br><br>
<hr><br>

    <h1>Your Appointments</h1>
    <div class="container">

    {% for i in appointData %}
    <table>
    <tr>
        <td><strong>Patient name: </strong></td>
        <td>{{i.P_name}}</td>
    </tr>
    <tr>
        <td><strong>Patient Age: </strong></td>
        <td>{{i.P_age}}</td>
    </tr>
    <tr>
        <td><strong>State: </strong></td>
        <td>{{i.state}}</td>
    </tr>
    <tr>
        <td><strong>City: </strong></td>
        <td>{{i.dist}}</td>
    </tr>
    <tr>
        <td><strong>Appointment Date: </strong></td>
        <td>{{i.appoint_date}}</td>
    </tr>
    <tr>
        <td><strong>Appointment Time: </strong></td>
        <td>{{i.appoint_time}}</td>
    </tr>
    <tr>
        <td><strong>Doctor Name: </strong></td>
        <td>{{i.d_id.name}}</td>
    </tr>
    <tr>
        <td>Doctor's degree:</td>
        <td>{{i.d_id.degree}}</td>
    </tr>
    <tr>
        <td>Specialist:</td>
        <td>{{i.d_id.speciality}}</td>
    </tr>
    <tr>
        <td>Hospital:</td>
        <td>{{i.d_id.hospital}}</td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>{{i.d_id.address}}</td>
    </tr>
</table>
    {% endfor %}
    
</div>
</div>
</body>
</html>