.body-container{
    background-color: whitesmoke;
    height: fit-content;
} 
.search-container{
    display:flex;
    flex-direction: column;

    align-items: end;
    position: sticky;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.409); */
    height: 120px;
    gap: 20px;
    background: #ffffff;
    padding:15px;
    
}
.filter-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
    
}
.filter-buttons button{
    padding: 5px 5px;
    width: 70px;
    border: none;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    cursor: pointer;
    border: 1px solid rgba(88, 88, 88, 0.488);
    border-radius: 5px;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    position: relative;
}
.tooltip {
    position: absolute;
    bottom:- 5px; /* Position above the button */
    left: 50%;
    transform: translateX(-30%);
    background-color: #a2a2a2;
    border:rgba(0, 0, 0, 0.523);
    color: #000000f7;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    visibility: hidden;
    font-weight: 100;
    margin: 15px 5px;
    z-index: 500;
  }

  /* Show tooltip on hover with delay */
  .filter-buttons button:hover .tooltip {
    visibility: visible;
    animation: fadeIn 0.3s ease forwards;
    animation-delay: 2s; /* Add delay before showing */
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.filter-buttons button:active{
    background-color: whitesmoke;
    color: rgb(121, 121, 121);
}
#search-bar{
    display: flex;
    border: 0.4px solid rgb(115, 115, 115);
    border-radius: 10px;
    height: 7vh;
    width: 40vw;
}
#search-bar:focus-within{
    background-color: rgb(237, 233, 233);
    /*  */
}
#search-bar form{
    width: inherit;
    display: flex;
}
.text-field{
    width: 85%;
    height: inherit;
    border-radius: 100px 0 0 100px;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 20px;
    font-size: 1.2em;
    flex-grow: 1;
    
}
#search{
    height: inherit;
    width:80px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 25px;
} 
#search:active{
    background-color: rgb(160, 160, 161);
}
.search-icon {
    height: 80px;
    width:120px;
    border-radius: 0 50px 50px 0;
}
.search-icon .fa-solid{
    font-size: 100px;
    color: black;

}
.main-content-div{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 70vh;
    padding: 20px 40px;
    width: 100%;
    background:#ebebeb7b;
}

.container{
    height: 500px;
    width:400px;
    padding:60px 10px 10px 10px;
    background-color: rgb(255, 255, 255);
    perspective: 1000px;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}
.content{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #052639;
    /* background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); */
    border-radius: 10px;
    padding: 60px 20px 20px 20px;
    transition: 0.7s cubic-bezier(0.4,0.2,0.2,1);
    transform-style: preserve-3d;
    z-index: 1;
}
/* .content:hover{ */
    /* transform: rotateY(180deg);
    padding: 20px 20px 20px 20px;
} */
.img-container{
    height: 80px;
    width:80px;
    border:7px solid rgb(255, 255, 255);
    /* border: 10px solid transparent; /* Required to see the gradient border */
    /* border-image: linear-gradient(to right, red, blue) 1; */ 
    border-radius: 100px;
    position: absolute;
    top:-40px;
    z-index: 10;
    background-color: blue;
    backface-visibility: hidden;
}
.img-container::after{
    content:'';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom:13px;
    right: -26px;
    background-color: transparent;
    border-radius:10px 0px 0px 0px ;
    box-shadow: -1px -10px 0 rgb(255, 255, 255);
}
.img-container::before{
    content:'';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom:13px;
    left: -26px;
    background-color: transparent;
    border-radius:0px 10px 0px 0px ;
    box-shadow: 0px -10px 0 rgb(255, 255, 255);
}
.rating-front{
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    backface-visibility: hidden;   
    z-index: 5;
}
.D-name{
    width: 100%;
    height: 140px;
    border-radius: 7px;
    background-color: #ffffff1c;
    color: white;
    padding:15px;
    backdrop-filter:blur(15px) ;
    margin-bottom:10px ;
    
}
.data-table{
    width: 100%;
    height: 50%;
    color: #ffffff;
    padding: 0 10px;
    
}
.data-table tr td:last-child{
    text-align: end;
}
.paragraph-area{
    height: 90px;
    text-overflow: ellipsis;
}
.location-back{
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility:hidden;

}
.d-profile-buttons{
height: 30px;
width: 115px;
padding: 5px 7px;
border:none;
border-radius: 5px;
background: linear-gradient(to right, #000428, #004e92);
/* background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
color: white;
cursor:pointer;
text-decoration: none;
font-weight: 200;
}

.stars {
    display: flex;
    cursor: pointer;
    position: relative;
    left: 15px;
}
.star {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    fill:none;
    transition: fill 0.3s ease;
    stroke: #ccc;
}
.star.filled {
    fill: #ffd700; /* Gold color */
}
.items{
    /* border: .5px solid; */
    width: inherit;
    background: #e4e9f7;
    cursor: pointer;
    padding:10px 20px;
}
.items:active{
    border: inset  3px #cbd6f6;
}
.font-weight-100{
    font-weight: 100;
}


.location-back {
    width:100%;
    height: 100%;
    padding: 5px;

}
.location-back iframe {
    height: calc( 100% - 50px );
}
.reFlipbutton-div{
    height: 35px;
    margin: 0 0 5px 0;
    
}
.reFlipbutton-div button{
    width: 35px;
    height:35px;
    border-radius: 5px;
    background-color: #ffffff06;
    border: none;
    padding:3px;
    cursor: pointer;
}
.reFlipbutton-div button:hover{
    background-color:#ffffff1d ;
}
.reFlipbutton-div button img{
    height:95% ;
    width: 95%;
}
