*{  margin: 0px;
    padding:0px;
    font-family: nunito;
    font-weight: 600;
    /* border:solid .5px black; */
}
body{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
    max-width:100vw;
    background-color: transparent;
} 
#loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width:30vw;
    padding:10px;
    border-radius: 10px;
    border:solid 0.5 brown;
    background-color:#FFD9CE ;
}
#loginpage h1{
    margin:10px 25px;
    font-weight: 900;
}
#loginpage input{
    margin:10px 10px;
    width:20vw;
    height:25px;
    padding:5px;
}
#loginpage input[type="submit"]{
    width:70px;
    border-radius:5px;
    padding:2px;
    font-style: bold;
}
